<div class="row">

    <div class="col-md-8">
        <!-- TIMELINE -->
        <div class="panel panel-scrolling">
            <div class="panel-heading">
                <h3 class="panel-title">Products</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse">
                        <i class="lnr lnr-chevron-up"></i>
                    </button>
                    <button type="button" class="btn-remove">
                        <i class="lnr lnr-cross"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <!-- TABBED CONTENT -->
                <div class="custom-tabs-line tabs-line-bottom left-aligned">
                    <ul class="nav" role="tablist">
                        <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Add Product</a></li>
                        <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">All Products <span class="badge">7</span></a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-bottom-left1">
                        <form class="form-auth-small" method="post" action="/products">
                            {{#if success_msg}}
                                <div class="alert alert-success">{{success_msg}}</div>
                            {{/if}} {{#if error_msg}}
                                <div class="alert alert-danger">{{error_msg}}</div>
                            {{/if}} {{#if error}}
                                <div class="alert alert-danger">{{error}}</div>
                            {{/if}}
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Product Name</label>
                                <input type="text" class="form-control" name="productName" placeholder="Ch101">
                            </div>
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Product Category</label>
                                <input type="text" class="form-control" name="productCategory" placeholder="Biometrics">
                            </div>
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Product Price</label>
                                <input type="number" class="form-control" name="productPrice" placeholder="100">
                            </div>
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Product Quantity</label>
                                <input type="number" class="form-control" name="productQuantity" placeholder="100">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Product Description</label>
                                <textarea type="text" class="form-control" name="productDescription" placeholder="Attendance"></textarea>
                            </div>
                            <div class="form-group clearfix">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm btn-block">Add Product</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab-bottom-left2">
                        <div class="table-responsive">
                            <table class="table project-table">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Product Category</th>
                                        <th>Product Description</th>
                                        <th>Product Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                        <tr>
                                            <td>{{productName}}</td>
                                            <td>{{productCategory}}</td>
                                            <td>{{productDescription}}</td>
                                            <td>{{productPrice}}</td>
                                            <td>
                                                <a href="/products/{{_id}}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="/products/delete/{{_id}}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>                                        
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END TABBED CONTENT -->
            
            </div>
        </div>
        <!-- END TIMELINE -->
    </div>

</div>